<a [routerLink]="[bookId]" class="list-group-item clearfix" routerLinkActive="active">
  <span>
    <img class="img-responsive"
         width="15%"
         height="15%"
         src="assets/{{book.imageLink}}"
         style="..."/>
  </span>
  <div class="float-right">
    <h4 class="list-group-item-heading">{{book.title}}</h4>
    <p class="list-group-item-text">{{book.author}}</p>
  </div>

</a>


<!--<a href="#" class="card">-->
  <!--<img class="card-img-top img-responsive" src="{{book.imgPath}}" alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title">{{book.name}}</h5>-->
    <!--<p class="card-text">{{book.description}}</p>-->
  <!--</div>-->
<!--</a>-->
