<!--<a href="#" class="list-group-item clearfix">-->
  <!--<span>-->
    <!--<img class="img-responsive"-->
         <!--width="25%"-->
         <!--height="25%"-->
         <!--src="{{book.imgPath}}"-->
         <!--style="..."/>-->
  <!--</span>-->
  <!--<div class="float-right">-->
    <!--<h4 class="list-group-item-heading">{{book.name}}</h4>-->
    <!--<p class="list-group-item-text">{{book.description}}</p>-->
  <!--</div>-->

<!--</a>-->


<a href="#" class="card">
  <img class="card-img-top img-responsive" src="{{book.imgPath}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{book.name}}</h5>
    <p class="card-text">{{book.description}}</p>
  </div>
</a>
