<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedBook?.imgPath}}" alt="" class="img-responsive"/>
  </div>
</div>
<div>
  <div class="col-xs-12">
    <h1>{{selectedBook?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success mr-md-2">Add to my Library</button>
    <button class="btn btn-primary mr-md-2">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedBook?.description}}</p>
  </div>
</div>

